input {
  border: none;
  margin: 0px 10px;
  padding: 25px 20px;
  width: 90%;
  background-color: inherit;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: #b2d8f6;
}
.wrapper {
  margin-top: 20px;
}
.wrapper h1 {
  margin-bottom: 20px;
  margin-top: 30px;
  color: #fefefe;
  font-family: 'Acme', sans-serif;
}
div.answer > button {
  padding: 5px 5px 1px 5px;
  border-radius: 4px;
  margin: 0px;
}

div.answer > button.answer {
  background-color: #92cb93;
}

div.answer {
  background-color: #f2f2f2;
  width: 45%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

div.searchDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}
div.searchDiv > input {
  background-color: #f2f2f2;
  width: 45%;
}

div.searchDiv > input:invalid {
  background-color: #ffdddd;
}

select {
  background-color: #f2f2f2;
  border: none;
  width: 47%;
  padding: 20px 20px;
  margin: 10px;
}

div.searchDiv span {
  width: 47%;
  text-align: left;
  margin: 20px auto -6px;
  padding: 0px 20px;
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
}

div.resultQuestion {
  padding: 20px;
  width: 45%;
  margin: 20px auto;
  border-radius: 4px;
  background: #248fcf;
  color: #fefefe;
}

div.popup {
  position: fixed;
  background-color: #45a2d9;
  width: 50%;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fefefe;
  border-radius: 4px;
}
div.popup h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
div.popup > input {
  background-color: #f2f2f2;
  border-radius: 4px;
}
