@import url('https://fonts.googleapis.com/css?family=Aclonica|Open+Sans');


input {
  border: none;
  margin: 0px 10px;
  padding: 25px 20px;
  width: 50%;
  background-color: inherit;
  font-size: 1em;
}


div.answer > button {
  padding: 4px 5px 2px 6px;
  border-radius: 4px;
  margin: 0px;
}

div.answer > button.answer {
  background-color: #92cb93;
}

div.answer {
  background-color: #f2f2f2;
  width: 45%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
