.quiz-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quizCard-wrapper {
    perspective: 1000px;
    background-color: transparent;
    transition: 1s;
    position: relative;
    max-width: 100%;
    width: 250px;
    min-width: 250px;
    min-height: 350px;
    display: flex;
    flex-flow: column;
    border-radius: .25rem;
    margin: 1rem;
}

.quizHeader {
    font-family: 'Acme', sans-serif;
    font-size: 3rem;
    color: #fefefe;
    text-decoration: underline;
    text-decoration-style: wavy;
    margin: 10px 0;
}
.quizCard h1 {
    color: #3cadf0;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    border-radius: .25rem;
    overflow: hidden;
    background-color: #fefefe;
}

.back .one {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    transform: rotateY(0deg);
    border-radius: .25rem;
    overflow: hidden;
}

.front .one {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("http://8gmwp015fo-flywheel.netdna-ssl.com/wp-content/uploads/sites/4/2014/05/cupcake-cardback.png");
}

.back:hover {
    box-shadow: 0 0 30px -3px #f5eb7d;
    cursor: pointer;
    transition: 0.2s;
}

.front .one:hover {
    cursor: not-allowed;
    box-shadow: none !important;
}

.quizCard {
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    transition: 1s;
    transform-style: preserve-3d;
}

.quizCardFlipped {
    transform: rotateY(180deg);
}
.winner {
    background-color: #cceab5 !important;
    transition: 0.2s;
}
.chooseCategory {
    display: inline-block;
    margin: 0 5px 0 0;
    color: #fefefe;
}

.chooseCategory-wrapper {
    padding: 20px 0;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #2685cf;
    width: 800px;
    margin: 0 auto;
}
.counter-question {
    color: #fefefe;
}
.counter {
    color: #ccc;
    padding: 0 3px;
}
.Counter-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.timer {
  margin-top: -50px;
  position: absolute;
  font-family: 'Acme', sans-serif;
  color: #fefefe;
  font-size: 2.2em;
}
