div.createUserDiv {
  position: absolute;
  width: 100%;
  height: calc(100% - 65px);
  background-color: #0277bd;
  color: #fefefe;
  text-align: center;
  margin-top: 65px;
}
div.createUserDiv > h1 {
  font-family: 'Acme', sans-serif;
  font-size: 4em;
  margin-bottom: -15px;
}
div.createUserDiv > h1:first-child {
  margin-top: 150px;
}
div.createUserDiv > h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.4em;
}
div.createUserDiv > input {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 18px;
  max-width: 20%;
}
