div.highscoreWrapper {
  font-family: 'Acme', sans-serif;
  background-color: #2a93d7;
  color: #fefefe;
  width: 60%;
  margin: 25px auto;
  border-radius: 5px;
  max-width: 1000px;
  padding-bottom: 25px;
}
div.highscoreWrapper > h1 {
  padding: 15px 0px 0px;
  margin: 25px 0px;
}
div.highscoreWrapper > ul {
  margin: 0px;
  padding: 0px;
}
div.highscoreWrapper > ul > li {
  margin: 0px 25px;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 15px;
  text-align: left;
}

div.highscoreWrapper > ul > li:nth-child(odd){
  background-color: #1893c3;
}
div.highscoreWrapper > ul > li:nth-child(even){
  background-color: #2298c6;
}
div.highscoreWrapper > ul > li > span {
  width: 180px;
  display: flex;
  align-items: center;
}
div.highscoreWrapper > ul > li > span > img {
  width: 30px;
  height: 30px;
}
div.highscoreTableHeader {
  display: flex;
  background-color: #1d7496;
  margin: 0px 25px;
  padding: 15px;
}
div.highscoreTableHeader > span {
  text-align: left;
  width: 180px;
}
div.highscoreTableHeader > span.ranking, div.highscoreWrapper > ul > li > span.ranking {
  width: 90px;
}
div.highscoreWrapper > ul > li > span.ranking {
  width: 80px;
  margin-left: 10px;
}

@media screen and (max-width: 1100px){
  div.highscoreWrapper {
    width: 70%;
  }
}

@media screen and (max-width: 1000px){
  div.highscoreWrapper {
    width: 80%;
  }
}

@media screen and (max-width: 900px){
  div.highscoreWrapper {
    width: 90%;
  }
}
@media screen and (max-width: 800px){
  div.highscoreWrapper {
    width: calc(100% - 20px);
  }
}
