div.homeDiv {
  font-family: 'Acme', sans-serif;
  background-color: #2a93d7;
  color: #fefefe;
  width: 60%;
  margin: 25px auto;
  padding-top: 15px;
  border-radius: 5px;
  max-width: 1000px;
  padding-bottom: 25px;
}

div.homeDiv > button {
  background-color: #164e71;
}
div.homeDiv > button:hover {
  background-color: #1e6290;
}
