.flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    background-color: #2a8bd7;
    -webkit-box-shadow: 0 17px 24px -13px #ccc;
    box-shadow: 0 17px 24px -13px #3960bc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 70px;
}
.tab {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Acme',sans-serif;
    font-weight: 700;
    letter-spacing: 0.3pt;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 17px 0;
    padding: 0 10px;
    background-color: transparent !important;
}
.tab:hover {
    box-shadow: 0 9px 0 -7px #4d4d4d;
    transition: 0.2s;
    cursor: pointer;
}
